<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="" />
        </div>
        <div class="" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Rechercher", "Index", "Home")</li>
                <li>@Html.ActionLink("Proposer", "Index", "Workshop")</li>
                <li>@Html.ActionLink("A propos", "Index", "About")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Connecter", "Index", "User")</li>
            </ul>
        </div>
    </div>
</nav>
