<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="" />
        </div>
        <div class="" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Rechercher", "Index", "Home")</li>

                @if(User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Proposer", "Create", "Workshop")</li>
                    <li>@Html.ActionLink("Mon compte", "Account", "User")</li>
                }
                
                <li>@Html.ActionLink("A propos", "Index", "About")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if(User.Identity.IsAuthenticated)
                {
                    <li class="logOutButton">
                        <a href="/User/LogOut" class="">
                            <span class="glyphicon glyphicon-off " style="color: black;"></span>
                        </a>
                    </li>

                }
                else
                {
                    <li class="logInButton">
                        <a href="/User/Index" class=" ">
                            <span class="glyphicon glyphicon-off " style="color: black;"></span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
