<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a href="/" class=""><img src="~/Content/Images/logo_slim.png" /></a>
        </div>
        <div class="" id="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="">@Html.ActionLink("A propos", "Index", "About")</li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="">
                        <a href="/Workshop/Create">Proposer</a>
                     </li>
                    TiichService.Service.UserService service = new TiichService.Service.UserService();
                    TiichDAL.User user = service.GetUserByName(User.Identity.Name);
                    string imgPath = "/Content/Avatars/" + (user.Avatar == null ? "null.png" : user.Avatar);

                    <li class="">
                        <a href="/User/Account" style="padding:5px;height:50px;">
                            <img src="@imgPath" class="roundedImage roundedImage-mini" />
                        </a>
                    </li>
                    <li>
                        <a href="/Moderation/Index" style="padding:5px;height:50px;">
                            <img src="~/Content/Images/pie.png" height="40" />
                        </a>
                    </li>
                }

            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="">
                        <a href="/User/LogOut" class="btn btn-danger btn-lg">
                            Déconnexion
                        </a>
                    </li>
                }
                else
                {
                    <li class="logInButton">

                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#connexion">
                            Connexion
                        </button>

                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#inscription">
                            Inscription
                        </button>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="myModalLabel">Connexion</h4>
            </div>
            <div class="modal-body">
                    @Html.Partial("~/Views/User/LogIn.cshtml", new TiichDAL.User())
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="myModalLabel">Connexion</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/User/SignIn.cshtml", new TiichDAL.User())
            </div>
        </div>
    </div>
</div>