<div class="container-padded">

    <!-- Pie chart div -->
    <div id="pieChartDiv" class="col-lg-7 well">
        <div id="tagsStatistics">
            <img src="~/Content/Images/loader.gif" />
        </div>
    </div>

    <!-- Right col-->
    <div class="col-lg-5">
        
        <!-- most viewed-->
        <div id="topAndFlopWorkshops" class="well col-lg-12">
            <img src="~/Content/Images/loader.gif" />
        </div>

        <!-- Workshop -->
        <div>

        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {

        //Call global stats
        $.ajax({
                    url: "GlobalTagsStatistics",
                })
             .done(function (data) {
                 $("#tagsStatistics").html(data);
             });

        //Call most and less viewed worksops
        $.ajax({
            url: "TopAndFlopWorkshops",
        })
             .done(function (data) {
                 $("#topAndFlopWorkshops").html(data);
             });
    });
    //$("#ajax").load("/Moderation/PartialAjaxTest/?text=tets");
</script>
