.body
{
    background-color:#FFA726;
}

div.jumbotron
{
    padding:5%;
    background-color: rgba(255, 255, 255, 0.7); /* un arrière plan bleu à 50% de transparence */
}

.fullSize
{
    width:100%;
}

li.LogInButton{
    background-color:green;
}


li.LogOutButton{
    background-color:red;
}

img.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
    align-content:center;
    margin:20px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

img.roundedImage.roundedImage-mini{
    width:40px;
    height:40px;
    margin-top:0px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel.panel-custom{
    background-color:#4FC3F7;
}

.panel.panel-custom h3{
    color:#424242;
}

.panel-heading{
    border-radius:0;
}

.boxShadow{
    -moz-box-shadow: 0px 2px 3px 1px #656565;
    -webkit-box-shadow: 0px 2px 3px 1px #656565;
    -o-box-shadow: 0px 2px 3px 1px #656565;
    box-shadow: 0px 2px 3px 1px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=3);
}

div#headerwrap{
    height:110%;
    margin-bottom:50px;
}

div.container-padded{
    padding-top:100px;
}

div.navbar-header img{
    height:50px;
}

div.searchPanel{
    background-color : #BDBDBD;
    padding:15px;
    top:50px;
}