body
{
    background-color:#FFA726;
}

div.jumbotron
{
    padding:5%;
    background-color: rgba(255, 255, 255, 0.7); /* un arrière plan bleu à 50% de transparence */
}

.fullSize
{
    width:100%;
}